{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}
    {% blocktrans %}Create a Dynamic Policy {% endblocktrans %}
    <script type="text/javascript">
        $("#id_target_id").change(function () {
            $("#id_container_id").load("{% url 'horizon:crystal:policies:policies:get_container_by_project' %}", {'project_id': $("#id_target_id").find("option:selected").val()});
        });
    </script>
{% endblock %}