{% extends "horizon/common/_modal.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Container Details" %}{% endblock %}

{% block modal-body %}
<div class="info detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Container Name" %}</dt>
    <dd>{{ container.name }}</dd>
    <dt>{% trans "Container Access" %}</dt>
    {% if container.public_url %}
      <dd>{% trans "Public" %}</dd>
      <dt>{% trans "Public URL" %}</dt>
      <dd>{{ container.public_url }}</dd>
    {% else %}
      <dd>{% trans "Private" %}</dd>
    {% endif %}
    <dt>{% trans "Object Count" %}</dt>
    <dd>{{ container.container_object_count }}</dd>
    <dt>{% trans "Size" %}</dt>
    <dd>{{ container.container_bytes_used|filesizeformat }}</dd>
    <dt>{% trans "Storage Policy" %}</dt>
    <dd>{{ container.storage_policy }}</dd>
    {% if container.metadata != '' %}
	    <div style="margin-top:5px;" id='{{ container.name }}_dt_metadata'></div>
    {% endif %}
  </dl>
</div>

<script type="text/javascript">
	var metadata = "{{container.metadata}}"
	var container_name = "{{ container.name }}"
	var metadata = metadata.split(", ");
	for (i = 0; i < metadata.length; i++) {
		var value = metadata[i].split('=')
		if (value[0] != '')
			$("#"+container_name+"_dt_metadata").append('<dt>{% trans "'+value[0]+'" %}</dt><dd>'+value[1]+'</dd>');
	}
</script>

{% endblock %}

{% block modal-footer %}
  <a href="{% url 'horizon:crystal:containers:index' %}" class="btn btn-default cancel">{% trans "Close" %}</a>
{% endblock %}
