{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}upload_object_form{% endblock %}
{% block form_name %}uploadForm{% endblock %}
{% block form_action %}{% url 'horizon:crystal:metrics:upload_metric_module' %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}
    {% blocktrans %}Upload Workload Metric Module{% endblocktrans %}
{% endblock %}

{% block modal-body %}
    <div class="left">
        <fieldset>
            {% include "horizon/common/_form_fields.html" %}
        </fieldset>
    </div>
    <div class="right">
        <h3>{% trans "Description:" %}</h3>
        <p><strong>{% trans "Metric Module:" %}</strong> {% trans "A Metric Module is a basic Crystal-Controller entity." %}</p>
    </div>
{% endblock %}