{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}upload_object_form{% endblock %}
{% block form_name %}uploadForm{% endblock %}
{% block form_action %}{% url 'horizon:sdscontroller:administration:dependencies:upload' %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}
  {% blocktrans %}Upload Dependency{% endblocktrans %}
{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p><strong>{% trans "Dependency:" %}</strong> {% trans "A Dependency is the basic SDS-Controller entity." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Upload Dependency" %}" />
  <a href="{% url 'horizon:sdscontroller:administration:index' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
